[submodule "src/_thirdparty/RaspberryPiRC"]
	path = src/_thirdparty/RaspberryPiRC
	url = https://github.com/TSKangetsu/RaspberryPiRC
[submodule "src/_thirdparty/RPiMS5611LIB"]
	path = src/_thirdparty/RPiMS5611LIB
	url = https://github.com/TSKangetsu/RPiMS5611LIB
[submodule "src/_thirdparty/RaspberryPiMPU"]
	path = src/_thirdparty/RaspberryPiMPU
	url = https://github.com/TSKangetsu/RaspberryPiMPU.git
[submodule "src/_thirdparty/EKFImplement"]
	path = src/_thirdparty/EKFImplement
	url = https://github.com/simondlevy/TinyEKF
[submodule "src/_thirdparty/RaspberryPiBARO"]
	path = src/_thirdparty/RaspberryPiBARO
	url = https://github.com/TSKangetsu/RaspberryPiBARO
